@model IEnumerable<Product>
@{
    ViewData["Title"] = "ProductList";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<h1>@ViewBag.Restaurant.RestaurantName '@localizer["in Ürünleri"]</h1>
<div class="container">
    <a class="btn btn-primary" asp-action="ProductCreate" asp-route-id="@ViewBag.Restaurant.RestaurantID">@localizer["Yeni Ürün"]</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@localizer["Ürün Adı"]</th>
            <th>@localizer["Ürün Kategorisi"]</th>
            <th>@localizer["Ürün Fiyatı"]</th>
            <th>@localizer["Ürün Resmi"]</th>
            <th>@localizer["Ürün Durumu"]</th>
            <th>@localizer["Sil / Düzenle"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Category.CategoryName</td>
                <td>@item.ProductPrice &#8378</td>
                <td><img style="width:50px" src="@item.ProductImage" /></td>
                <td>
                    @if (@item.ProductStatus == true)
                    {
                        <span>@localizer["Aktif"]</span>
                    }
                    else
                    {
                        <span>@localizer["Pasif"]</span>
                    }
                </td>
                <td class="d-flex justify-content-center">
                    <a class="btn btn-danger mr-2" asp-action="ProductDelete" asp-route-id="@item.ProductID">@localizer["Sil"]</a>
                    <a class="btn btn-info ml-2" asp-action="ProductEdit" asp-route-id="@item.ProductID">@localizer["Düzenle"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>