@model IEnumerable<Menu>
@{
    ViewData["Title"] = "MenuList";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<h1>@ViewBag.Restaurant.RestaurantName '@localizer["in Menüleri"]</h1>
<div class="container">
    <a class="btn btn-primary" asp-action="MenuCreate" asp-route-id="@ViewBag.Restaurant.RestaurantID">@localizer["Yeni Menü"]</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@localizer["Menü Adı"]</th>
            <th>@localizer["Menü Kategorisi"]</th>
            <th>@localizer["Menü Fiyatı"]</th>
            <th>@localizer["Menü Resmi"]</th>
            <th>@localizer["Menü Durumu"]</th>
            <th>@localizer["Sil / Düzenle"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MenuName</td>
                <td>@item.Category.CategoryName</td>
                <td>@item.MenuPrice &#8378</td>
                <td><img style="width:50px" src="@item.MenuImage" /></td>
                <td>
                    @if (@item.MenuStatus == true)
                    {
                        <span>@localizer["Aktif"]</span>
                    }
                    else
                    {
                        <span>@localizer["Pasif"]</span>
                    }
                </td>
                <td class="d-flex justify-content-center">
                    <a class="btn btn-danger mr-2" asp-action="MenuDelete" asp-route-id="@item.MenuID">@localizer["Sil"]</a>
                    <a class="btn btn-info ml-2" asp-action="MenuEdit" asp-route-id="@item.MenuID">@localizer["Düzenle"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>