@using Microsoft.AspNetCore.Identity
@using ISE309.Odev.Core.DbEntities
@model Restaurant
@{
    ViewData["Title"] = "Restoran";
}
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div class="ml-5 col-lg">
    <h2>
        @Model.RestaurantName
    </h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Restoran Puanı:
                    <i class="fas fa-star text-warning"></i>
                    @Model.RestaurantRating
                </th>
                <th>
                    Restoran Min Tutar: @Model.RestaurantMinDelivery &#8378
                </th>
                <th>
                    Restoran Sipariş Süresi: @Model.RestaurantDeliveryTime dk.
                </th>
                <th>
                    Restoran Çalışma Saatleri: @Model.RestaurantWorkingHours
                </th>
            </tr>
        </thead>
        @if (User.Identity.Name == Model.Owner.UserName)
        {
            <tbody>
                <tr>
                    <th>
                        <a asp-action="CategoryList" asp-controller="Category" asp-route-id="@Model.RestaurantID">Kategoriler</a>
                    </th>
                    <th>
                        <a asp-action="MenuList" asp-controller="Menu" asp-route-id="@Model.RestaurantID">Menuler</a>
                    </th>
                    <th>
                        <a asp-action="ProductList" asp-controller="Product" asp-route-id="@Model.RestaurantID">Ürünler</a>
                    </th>
                </tr>
            </tbody>
        }
    </table>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            @foreach (var item in Model.Categories)
            {
                if (item.CategoryStatus)
                {
                    <div class="container p-4 m-5 bg-light category">
                        <div class="float-left text-info col-12">
                            <h2>@item.CategoryName</h2>
                        </div>
                        <div class="row mt-5">
                            @foreach (var menus in item.Menus)
                            {
                                <div class="col bg-white mx-5 product-info">
                                    <img src="@menus.MenuImage" alt="@menus.MenuName" />
                                    <h4>@menus.MenuName</h4>
                                    <a class="text-danger" asp-action="AddMenutoCart" asp-route-id="@menus.MenuID"><i class="fa fa-plus"></i></a>
                                    <h5 class="float-right">@menus.MenuPrice &#8378</h5>
                                </div>
                            }
                            @foreach (var products in item.Products)
                            {
                                <div class="col bg-white mx-5 product-info">
                                    <img src="@products.ProductImage" alt="@products.ProductName" />
                                    <h4>@products.ProductName</h4>
                                    <a class="text-danger" asp-action="AddProducttoCart" asp-route-id="@products.ProductID"><i class="fa fa-plus"></i></a>
                                    <h5 class="float-right">@products.ProductPrice &#8378</h5>
                                </div>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
