@model IEnumerable<Restaurant>

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Anasayfa";
}

<div class="container p-3">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    @localizer["Sepetim"]
                </div>
                <div class="card-body p-0">
                    @await Component.InvokeAsync("Cart")
                </div>
            </div>
        </div>
        <div class="col-9">
            <table class="table table-sm table-hover">
                <caption>@localizer["Restoran Listesi"]</caption>
                <thead class="thead-dark">
                    <tr>
                        <th>@localizer["Restoran Adı"]</th>
                        <th>@localizer["Restoran Adresi"]</th>
                        <th>@localizer["Restoran Min Sipariş Ücreti"] (&#8378)</th>
                        <th>@localizer["Restoran Min Sipariş Süresi"]</th>
                        <th>@localizer["Restoran Derecesi"]</th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Restaurant" asp-action="Index" asp-route-id="@item.RestaurantID">@item.RestaurantName</a>
                            </td>
                            <td>@item.RestaurantAddress</td>
                            <td>@item.RestaurantMinDelivery &#8378</td>
                            <td>@item.RestaurantDeliveryTime</td>
                            <td>@item.RestaurantRating</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
