@model Restaurant
@{
    ViewData["Title"] = "CategoryList";
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<h1>@Model.RestaurantName'@localizer["in Kategorileri"]</h1>
<div class="container">
    <a class="btn btn-primary" asp-action="CategoryCreate" asp-route-id="@Model.RestaurantID">@localizer["Yeni Kategori"]</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@localizer["Kategori Adı"]</th>
            <th>@localizer["Kategori Durumu"]</th>
            <th>@localizer["Sil / Düzenle"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Categories)
        {
            <tr>
                <td>@item.CategoryName</td>
                <td>
                    @if (@item.CategoryStatus == true)
                    {
                        <span>@localizer["Aktif"]</span>
                    }
                    else
                    {
                        <span>@localizer["Pasif"]</span>
                    }
                </td>
                <td class="d-flex justify-content-center">
                    <a class="btn btn-danger mr-2" asp-action="CategoryDelete" asp-route-id="@item.CategoryID">@localizer["Sil"]</a>
                    <a class="btn btn-info ml-2" asp-action="CategoryEdit" asp-route-id="@item.CategoryID">@localizer["Düzenle"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>